<title>Android Apps</title>
{% extends "main.html" %}

{% block content %}
{% load static %}
<section>
        <div class="container">
            <div class="row">
              <h3> Productivity </h3><br><br><br>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <img src="img/app/alldocument.png"  height="150" width="200"><br><br>
                    <div style="text-align: left;">
                        &emsp;<span> PDF Reader - PDF </span><br>
                        &emsp;<span> Viewer 2023 </span><br>
                        &emsp;<span> 4.7 <i class="fa fa-star" style="color: #cececf;"></i></span></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="img/app/pdfreader.png" height="150" width="200"><br><br>
                    <div style="text-align: left;">
                        &emsp;<span> All Document  </span><br>
                        &emsp;<span> Reader- One Read </span><br>
                        &emsp;<span> 4.8 <i class="fa fa-star" style="color: #cececf;"></i></span></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="img/app/camscanner.png" height="150" width="200"><br><br>
                    <div style="text-align: left;">
                        &emsp;<span> CamScanner - PDF </span><br>
                        &emsp;<span> Scanning App </span><br>
                        &emsp;<span> 4.8 <i class="fa fa-star" style="color: #cececf;"></i></span></span>
                    </div>
                  </div>
                <div class="col-sm-2">
                    <img src="img/app/microexcel.png" height="150" width="200"><br><br>
                    <div style="text-align: left;">
                        &emsp;<span> Microsoft Excel: </span><br>
                        &emsp;<span> Spreadsheets </span><br>
                        &emsp;<span> 4.8 <i class="fa fa-star" style="color: #cececf;"></i></span></span>
                    </div>
                </div><br><br>
                <div class="col-sm-2">
                    <img src="img/app/microsoft365.png" height="150" width="200"><br><br>
                    <div style="text-align: left;">
                        &emsp;<span> Microsoft 365 </span><br>
                        &emsp;<span> (Office) </span><br>
                        &emsp;<span> 4.7 <i class="fa fa-star" style="color: #cececf;"></i></span></span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <img src="img/app/notepad.png" height="150" width="200"><br><br>
                    <div style="text-align: left;">
                        &emsp;<span> Evernote - Notes </span><br>
                        &emsp;<span> Organizer </span><br>
                        &emsp;<span> 4.4 <i class="fa fa-star" style="color: #cececf;"></i></span></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
              <div class="col-sm" style="padding-top: 3%;">
                <h4> Top charts </h4><br>
                <span ><button class="top_btn">Top free</button>&emsp;<button class="top_btn">Top grossing</button>&emsp;<button class="top_btn">Top paid</button></span><br><br>
                <div class="container"  style="padding-top: 3%;">
                    <div class="row">
                      <div class="col">
                        <div class="row">
                            <div class="col-1">
                                <span style="font-size: 1rem">1</span>
                            </div>   
                            <div class="col-3">
                                <img src="img/app/temu.png" height="50" weight="50">
                            </div>   
                            <div class="col-8">
                               <span> Temu: Shop Like a Billionaire</span><br>
                               <span> Shopping </span><br>
                               <span> 4.6 <i class="fa fa-star" style="color: #cececf;"></i></span>
                            </div>    
                        </div>
                      </div>
                      <div class="col">
                        <div class="row">
                            <div class="col-1">
                                <span style="font-size: 1rem">4</span>
                            </div>   
                            <div class="col-3">
                                <img src="img/app/shein.png" height="50" weight="50">
                            </div>   
                            <div class="col-8">
                               <span> SHEIN- Shopping Online</span><br>
                               <span> Shopping </span><br>
                               <span> 4.5 <i class="fa fa-star" style="color: #cececf;"></i></span>
                            </div>    
                        </div>
                      </div>
                      <div class="col">
                        <div class="row">
                            <div class="col-1">
                                <span style="font-size: 1rem">7</span>
                            </div>   
                            <div class="col-3">
                                <img src="img/app/telegram.jpg" height="50" weight="50">
                            </div>   
                            <div class="col-8">
                               <span> Telegram</span><br>
                               <span> Communication </span><br>
                               <span> 4.3 <i class="fa fa-star" style="color: #cececf;"></i></span>
                            </div>    
                        </div><br><br>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <div class="row">
                            <div class="col-1">
                                <span style="font-size: 1rem">2</span>
                            </div>   
                            <div class="col-3">
                                <img src="img/app/whatsapp.png" height="50" weight="50">
                            </div>   
                            <div class="col-8">
                               <span> WhatsApp Messenger</span><br>
                               <span> Communication </span><br>
                               <span> 4.3 <i class="fa fa-star" style="color: #cececf;"></i></span>
                            </div>    
                        </div><br><br>
                      </div>
                      <div class="col">
                        <div class="row">
                            <div class="col-1">
                                <span style="font-size: 1rem">5</span>
                            </div>   
                            <div class="col-3">
                                <img src="img/app/insagram.jpg" height="50" weight="50">
                            </div>   
                            <div class="col-8">
                               <span> Instagram </span><br>
                               <span> Social  </span><br>
                               <span> 4.0 <i class="fa fa-star" style="color: #cececf;"></i></span>
                            </div>    
                        </div>
                      </div>
                      <div class="col">
                        <div class="row">
                            <div class="col-1">
                                <span style="font-size: 1rem">8</span>
                            </div>   
                            <div class="col-3">
                                <img src="img/app/max.png" height="50" weight="50">
                            </div>   
                            <div class="col-8">
                               <span> Max:Stream HBO,TV & Movies</span><br>
                               <span> Entertainment </span><br>
                               <span> 4.7 <i class="fa fa-star" style="color: #cececf;"></i></span>
                            </div>    
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="row">
                                <div class="col-1">
                                    <span style="font-size: 1rem">3</span>
                                </div>   
                                <div class="col-3">
                                    <img src="img/app/tiktok.png" height="50" weight="50">
                                </div>   
                                <div class="col-8">
                                   <span> TikTok</span><br>
                                   <span> Social </span><br>
                                   <span> 4.3 <i class="fa fa-star" style="color: #cececf;"></i></span>
                                </div>    
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-1">
                                    <span style="font-size: 1rem">6</span>
                                </div>   
                                <div class="col-3">
                                    <img src="img/app/cashapp.png" height="50" weight="50">
                                </div>   
                                <div class="col-8">
                                   <span> Cash App</span><br>
                                   <span> Finance </span><br>
                                   <span> 4.6 <i class="fa fa-star" style="color: #cececf;"></i></span>
                                </div>    
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <div class="col-1">
                                    <span style="font-size: 1rem">9</span>
                                </div>   
                                <div class="col-3">
                                    <img src="img/app/snapchat.png" height="50" weight="50">
                                </div>   
                                <div class="col-8">
                                   <span> Snapchat </span><br>
                                   <span> Communication </span><br>
                                   <span> 4.1 <i class="fa fa-star" style="color: #cececf;"></i></span>
                                </div>    
                            </div>
                        </div>
                      </div>
                  </div>
              </div>
            </div>
        </div>
    </section><br><br>

{% endblock content %}